[submodule "projects/syonet_eight_www"]
	path = projects/syonet_eight_www
	url = https://github.com/igara/syonet_eight_www.git
	ignore = dirty
[submodule "projects/syonet_eight_design_system"]
	path = projects/syonet_eight_design_system
	url = https://github.com/igara/syonet_eight_design_system.git
	ignore = dirty
[submodule "projects/syonet_eight_ogp"]
	path = projects/syonet_eight_ogp
	url = https://github.com/igara/syonet_eight_ogp.git
	ignore = dirty
[submodule "projects/chrome-aws-lambda"]
	path = projects/chrome-aws-lambda
	url = https://github.com/igara/chrome-aws-lambda.git
	ignore = dirty
[submodule "projects/syonet_eight_algolia"]
	path = projects/syonet_eight_algolia
	url = https://github.com/igara/syonet_eight_algolia.git
	ignore = dirty
[submodule "projects/syonet_eight_variables"]
	path = projects/syonet_eight_variables
	url = https://github.com/igara/syonet_eight_variables.git
	ignore = dirty
[submodule "projects/syonet_eight_rdb_model"]
	path = projects/syonet_eight_rdb_model
	url = https://github.com/igara/syonet_eight_rdb_model.git
	ignore = dirty
[submodule "projects/TsukinSimulator"]
	path = projects/TsukinSimulator
	url = https://github.com/igara/TsukinSimulator.git
